body{
    background-color: #e8eaf6 ;
}
.bulut{
    background-color: #f0f4f8 ;
    width: 30%;
}
.button{
    background-color: #3498db ;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}